body {
  margin: 0;
  padding: 0;
  background: rgb(235, 235, 235);
  font-family: helvetica, sans-serif;
}

.logos{
  position: relative;
}

.logo{
  display: inline-block;
  margin-left: 625px;
  padding: 25px;
}

.logo2{
  display: inline-block;
  position: absolute;
  padding: 25px;
  margin-left: 1260px;
}

.nav{
  background-color: rgb(212, 214, 215);
  width: 3000px;
  height: 60px;
}

#settings{
  color: rgb(96,103,112);
  float: right;
  padding-top: 20px;
  padding-right: 20px;
  cursor: pointer;
}


.nav ul {
  list-style: none;
  text-align: center;
  display: inline;
  margin: 0;
  height: 30px;
}

.nav li {
  font-family: helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  width: 250px;
  border-bottom: none;
  line-height: 60px;
  font-size: 1.3em;
  display: inline-block;
  margin-right: -4px;
}

.general a{
  color: rgb(86,157,190);
  background-color: rgb(117,204,246);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.maths a{
  color: rgb(110,154,96);
  background-color:rgb(147,204,127);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

.english a{
  color: rgb(189, 118, 152);
  background-color: rgb(236, 155, 194);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.add a{
  width: 40px;
  color: rgb(88, 90, 93);
}


.nav a {
  position: relative;
  text-decoration: none;
  display: block;
  transition: .3s color;
  height: 60px;
  z-index: 0;

}

.nav a:hover {
}

.nav a.active {
  position: relative;
  cursor: default;
  z-index: 5;
}

.general-content{
  background-color:rgb(117,204,246);
  position: relative;
  padding-top: 10px;
  width: 3000px;
  height: 1000px;
  box-shadow: 0px -4px 3px rgba(125, 124, 124, 0.2);
  z-index: 1;
}

.maths-content{
  background-color:rgb(147,204,127);
  position: relative;
  padding-top: 10px;
  width: 3000px;
  height: 1000px;
  box-shadow: 0px -4px 3px rgba(125, 124, 124, 0.2);
  z-index: 1;
}

.english-content{
  background-color:rgb(236, 155, 194);
  position: relative;
  padding-top: 10px;
  width: 3000px;
  height: 1000px;
  box-shadow: 0px -4px 3px rgba(125, 124, 124, 0.2);
  z-index: 1;
}


.columns{
  height: auto;
  position: absolute;
  z-index: 1;
}

.review-post{
  background-color: rgb(226,226,226);
  width: 600px;
  height: 100px;
  margin: 20px;
  margin-left: 50px;
  margin-top: 50px;
  box-shadow: 0px 3px 0px rgba(125, 124, 124, 0.2);
  border-radius: 10px;
  margin-bottom: 80px;
}

.column-1{
  float: left;
  height: 1000px;
  background-color: rgb(235,235,235);
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(125, 124, 124, 0.2), 0 6px 20px 0 rgba(125, 124, 124, 0.2);
  border-radius: 5px;

}

.column-2{
  position: relative;
  background-color: rgb(235,235,235);
  margin: 10px;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(125, 124, 124, 0.2), 0 6px 20px 0 rgba(125, 124, 124, 0.2);
  border-radius: 5px;
}


.column-3{
  background-color: rgb(235,235,235);
  margin: 10px;
  margin-left: 350px;
  padding-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(125, 124, 124, 0.2), 0 6px 20px 0 rgba(125, 124, 124, 0.2);
  border-radius: 5px;
}
.column-heading{
  text-align: center;
  font-family: helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: rgb(88, 90, 93);
  background-color: rgb(226,226,226);
  padding: 10px;
  margin: 0;
  height: 20px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}

.column-heading-input{
  text-align: left;
  font-family: helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  color: rgb(88, 90, 93);
  background-color: rgb(226,226,226);
  padding: 10px;
  margin: 0;
  height: 20px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  padding-left: 250px;
}

input[type="question"] {
    width: 160px;
    display: inline-block;
    font-size: 15pt;
    margin: 0;
    padding: 0;
}

.review{
  margin-left: 312px;
  line-height: 18px;
  padding: 0;
  position: absolute;
}

.name{
  text-align: left;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 12pt;
  letter-spacing: 0.5px;
  color: rgb(88, 90, 93);
  padding: 10px;
  margin: 0;
}


.post-text{
  text-align: left;
  font-family: helvetica, sans-serif;
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: 0.5px;
  color: rgb(110, 112, 116);
  padding: 10px;
  margin: 0;
}

.img-post{
  margin-left: 25px;
  padding: 20px;
  padding-bottom: 0;
}

.invisible{
  visibility: hidden;
}

.decline{
  display: inline-block;
  width: 70px;
  height: 45px;
  background-color: rgb(219, 84, 81);
  box-shadow: 0px 3px 0px rgba(174,56,48,1);
  border-radius: 10px;
  margin-left: 500px;
  cursor: pointer;
}

.cross{
  font-size: 30pt;
  text-align: center;
  color: rgb(174,56,48);
  margin: 0;
}

.accept{
  float: right;
  margin-right: 50px;
  display: inline-block;
  width: 70px;
  height: 45px;
  background-color: rgb(147,204,127);
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgba(110,155,95,1);
  top: 50px;
  cursor: pointer;
}

.tick{
  padding: 0;
  text-align: center;
  color: rgb(110,155,95);
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.star {
  position: absolute;
  font-size: 38px;
  color: rgb(89,153,186);
  margin-top: 2px;
  margin-left: 36px;
}

.star-button{
  float: right;
  position: relative;
  margin-right: 70px;
  width: 85px;
  height: 45px;
  background-color: rgb(117,204,246);
  border-radius: 5px;
  box-shadow: 0px 3px 0px rgba(89,153,186,1);
  cursor: pointer;
  margin-left: 550px;
  bottom: 40px;
}

.likes{
margin-top: 12px;
margin-left: 15px;
color: rgb(89,153,186);
font-size: 15pt;
}

.cross-delete{
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 18pt;
  display: inline-block;
  bottom: 90px;
  right: 60px;
  color: rgb(88, 90, 93);

}



/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 90px;
}

/* popup for posting styling */

.popup-content-post {
  visibility:hidden;
}

.popup-overlay-post.active{
  position: absolute;
  z-index: 30;
  visibility:visible;
  height: 3000px;
}

.popup-content-post.active {
  position: absolute;
  z-index: 30;
  visibility:visible;
  background-color: rgb(235,235,235);
  color: rgb(88, 90, 93);
  box-shadow: 0 4px 8px 0 rgba(125, 124, 124, 0.4), 0 6px 20px 0 rgba(125, 124, 124, 0.4);
  border: 4px solid rgb(88, 90, 93);
  border-radius: 10px;
  margin-left: 1750px;
  margin-top: 110px;
  padding: 30px;
}


/* ALL THE POP-UPS */

/* popup for delete styling */
.popup-overlay {
  visibility:hidden;
}

.popup-content {
  visibility:hidden;
}

.popup-overlay.active{
  position: absolute;
  z-index: 10;
  visibility:visible;
  height: 3000px;
}

.popup-content.active {
  position: fixed;
  z-index: 10;
  visibility:visible;
  background-color: rgb(235,235,235);
  color: rgb(88, 90, 93);
  box-shadow: 0 4px 8px 0 rgba(125, 124, 124, 0.4), 0 6px 20px 0 rgba(125, 124, 124, 0.4);
  border: 4px solid rgb(88, 90, 93);
  border-radius: 10px;
  margin-left: 400px;
  margin-top: 20px;
  padding: 30px;
}

/* Pop-up buttons */
button{
  float: right;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

/* Reason for delete input */
input[type="text"] {
    width: 570px;
    display: block;
    font-size: 15pt;
    margin-bottom: 10px;
}

/* Pop-up for settings */
.popup-overlay-settings {
  visibility:hidden;
}

.popup-content-settings {
  visibility:hidden;

}

.popup-overlay-settings.active{
  position: absolute;
  z-index: 20;
  visibility:visible;
  height: 3000px;
  width: 3000px;
  background-color: grey;
}

.popup-content-settings.active {
  position: fixed;
  z-index: 20;
  visibility:visible;
  background-color: rgb(235,235,235);
  color: rgb(88, 90, 93);
  box-shadow: 0 4px 8px 0 rgba(125, 124, 124, 0.4), 0 6px 20px 0 rgba(125, 124, 124, 0.4);
  border: 4px solid rgb(88, 90, 93);
  border-radius: 10px;
  margin-left: 300px;
  padding: 30px;
  width: 800px;
  height: 600px;
  bottom: 50px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 27px;
  left: 280px;
  bottom: 3px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(117,204,246);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 20px;
  top: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(117,204,246);
}

input:checked + .slider:before {
  -webkit-transform: translateX(-18px);
  -ms-transform: translateX(-18px);
  transform: translateX(-18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
